
@{
    ViewBag.Title = "index";
}

@model IEnumerable<KendoUI.Models.Movie>
@(Html.Kendo().Grid(Model).Name("gridtable").Columns(c=>
      {
          c.Bound(movieid=>movieid.ID).Sortable(false).Filterable(false);
          c.Bound(movietitle=>movietitle.Title).Filterable(true).Sortable(true);
          c.Bound(moviegenre=>moviegenre.Title).Sortable(true).Filterable(true);
          c.Bound(moviefrom=>moviefrom.Year).Filterable(true).Sortable(true);
      }
    )
    .Pageable()
    .Filterable()


    )


@*<div id="repairsGrid"></div>
<div id="movie"></div>*@


@*<script type="text/javascript">
    var repairs = [{
        name: "State Inspection",
        price: 39.75,
        labor: 1,
        staff: 1
    },
     {
         name: "Brake & Clutch System Service",
         price: 149.95,
         labor: 3,
         staff: 1
     },
     {
         name: "Power Steering Service",
         price: 109.96,
         labor: 3,
         staff: 1
     },
     {
         name: "Cooling System Service",
         price: 126.95,
         labor: 2,
         staff: 1
     },
     {
         name: "Oil Change",price: 37.77,
         labor: 1,
         staff: 1
     },
 {
     name: "CV Axle Replacement",
     price: 271.11,
     labor: 5,
     staff: 2
 },
 {
     name: "Battery Cabling Replacement",
     price: 179.97,
     labor: 2,
     staff: 1
 },
 {
     name: "Battery Replacement",
     price: 118.38,
     labor: 1,
     staff: 1
 },
 {
     name: "Fuel Induction Service",
     price: 168.88,
     labor: 3,
     staff: 2
 },
 {
     name: "Engine Air Filter Replacement",
     price: 36.63,
     labor: 1,
     staff: 1
 },
 {
     name: "Timing Belt Replacement",
     price: 221.75,
     labor: 3,
     staff: 2
 },
 {
     name: "Drive Belt Replacement",
     price: 194.79,
     labor: 3,
     staff: 2
 }
    ];
 </script>*@
            @*<script type="text/javascript">
             //$("#repairsGrid").kendoGrid({
             //    dataSource: repairs
             //});
             $.getJSON('api/movie', function (data) {

                 $("#movie").kendoGrid({
                     autoBind:true,
                     dataSource: data,
                     columns: [
                       

                         {
                             field:"ID",
                             title: "ID",
                             width: 50,
                             sortable:false,
                             filterable:false
                            

                         },
                         {
                             field: "Genre",
                             title: "Film Genre",
                             width: 50,
                             sortable: true,
                             filterable: true,
                             

                         }
                         ,
                         {
                             field: "Title",
                             title: "Film Title",
                             width:50,
                             sortable: true,
                          
                         },
                         {
                             field: "Year",
                             title: "From",
                             width: 50
                            
                         },
                         {
                             title: "Action",
                             width: 50,
                             command: [{
                                 name: "edit",
                                 text: { edit: "Custom", cancel: "Cancel",update:"Update"
                                 }
                             }]


                         }
                     ],
                     sortable: true,
                     filterable: true,
                     navigatable: true,
                     editable: { mode:"inline"},
                     groupable: {
                         messages: {
                             empty: "Drag column header here for grouping"
                         }
                     },
                     toolbar: [
                         "create",
                         {name: "Save", text: "Save This Record"},
                         {name:"Cancel", text:"Cancel Changes"}

                     ]
                 });

             })
             

   </script>*@



  





